{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block monTitre %}Login{% endblock %} 

{% block body %}

{% if error %}
    <div class="alert alert-danger">
        Le login et le mot de passe ne sont pas bon
    </div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <label for="">Login: </label>
        <input type="text" required name="_username" id="" class="form-control" value="{{ lastUserName }}">
    </div>
    <div class="form-group">
        <label for="">Password: </label>
        <input type="text" required name="_password" id="" class="form-control">
    </div>
    <input type="submit" value="s'indentifier" class="btn btn-primary">
</form>

{% endblock %}
