<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('accueil')}}">Concession Auto</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil')}}">Accueil</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('voitures')}}">Voiture</a>
                    </li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin')}}">Admin</a>
                        </li>
                    {% endif %}

                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('inscription')}}">Inscription</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('login')}}">Login</a>
                     </li>
                     {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout')}}">Logout</a>
                     </li>
                     {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1 class="border border-dark rounded text-white m-2 p-2 text-center bg-info"> {% block monTitre %}{% endblock %} </h1>
            {% block body %}{% endblock %}
        </div>
            {% block javascripts %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
