{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block monTitre %}Liste des voitures{% endblock %} 

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}


{{form_start(form)}}
    <div class="row no-gutters align-items-center text-center">
        <div class="col">
                {{form_row(form.minAnnee)}}
        </div>
        <div class="col">
                {{form_row(form.maxAnnee)}}
        </div>
        <div class="col-2">
            <input type="submit" value="rechercher" class="btn btn-info">
        </div>
    </div>    
{{form_end(form)}}

{% if admin %}
<div class="row no-gutters">
    <a href="{{ path('creationVoiture') }}" class="d-block btn btn-success">Ajouter</a>
</div>
{% endif %} 

    <div class="row no-gutters">
        {% for voiture in voitures %}
            <div class="col-4 col-lg-6 p-1">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center p2">
                            <div class="col-12 col-md-4">
                                    <img src="{{ asset('images/' ~ voiture.modele.image) }}" alt="" class="card-img">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ voiture.immatriculation }} </h5>
                                    <p class="card-text">
                                        <div>Marque : {{ voiture.modele.marque.libelle }}</div>
                                        <div>Modele : {{ voiture.modele.libelle }} - PM : {{ voiture.modele.prixMoyen }} </div>
                                        <div>Nombre de porte : {{ voiture.nbPortes }}</div>
                                        <div>Année : {{ voiture.annee }}</div>
                                    </p>                                
                                </div>
                            </div>
                    </div>
                    {% if admin %}
                        <div class="row no-gutters">
                            <a href="{{ path('modifVoiture' , {'id' : voiture.id}) }}" class="col btn btn-warning">Modifier</a>
                            <form method="post" class="col" action="{{ path('supVoiture' , {'id':voiture.id}) }}" 
                                 onsubmit="return confirm('Voulez vous vraiment supprimer ?')" >
                                <input type="hidden" name="_method" value="SUP">
                                <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ voiture.id) }}">
                                <input type="submit" class="btn btn-danger w-100" value="supprimer">
                            </form>
                        </div>
                    {% endif %} 
                </div>
            </div>           
        {% endfor %}
    </div>
    <div class="navigation">
            {{ knp_pagination_render(voitures) }}
    </div>
{% endblock %}
